:root{
    --sm: 0.85rem;
    --re: 1rem;
    --md: 1.2rem;
    --lg: 1.8rem;
    --xl: 2.5rem;

    --theme: #002244;
    --accent: #24ba99;
    --fill: #fff;

    --iconColor: #77ff77;
    --cardColor1: #ff7777;
    --cardColor2: #ff3333;

    --radius-full: 1000px;
    --radius-sm: 0.5rem;
    --radius-md: 1rem;

    --navbar_height: 7rem;
    --navbar_offset: 20rem;
}

body{
    /* position: relative; */
    max-width: 100vw !important;
    /* max-height: 100vh !important; */
    overflow: auto;
    margin: calc(var(--navbar_height) * -1) 0 0 0;
    /* margin: 0; */
    padding-top: var(--navbar_offset);
    font-family: "Oswald", sans-serif;
    font-size: var(--re);
    background-color: #d4e6e2;
}

body::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    background-image: url("/images/heroSection.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    cursor: pointer;
}