:root {
  --sm: 0.85rem;
  --re: 1rem;
  --md: 1.2rem;
  --lg: 1.8rem;
  --xl: 2.5rem;

  --theme: #002244;
  --accent: #24ba99;
  --fill: #fff;
  --background: #d4e6e2;

  --iconColor: #77ff77;
  --cardColor1: #ff7777;
  --cardColor2: #ff3333;

  --radius-full: 1000px;
  --radius-sm: 0.5rem;
  --radius-md: 1rem;

  --navbar_height: 7rem;
  --navbar_offset: 20rem;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.3;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.3;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  /* position: relative; */
  max-width: 100vw !important;
  /* max-height: 100vh !important; */
  overflow: auto;
  margin: 0 0 0 0;
  /* margin: 0; */
  padding-top: var(--navbar_offset);
  font-family: "Oswald", sans-serif;
  font-size: var(--re);
  background-color: var(--background);
  overflow: hidden;
}

body.loaded {
  margin: calc(var(--navbar_height) * -1) 0 0 0;
  overflow: auto !important;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  cursor: pointer;
}

#page_content {
  opacity: 0;
  visibility: hidden;
}

#page_content.loaded {
  opacity: 1;
  visibility: visible;
}

#loading_screen {
  position: absolute;
  z-index: 1000;
  inset: 0;
  background-color: var(--background);
  display: grid;
  place-items: center;

  opacity: 1;
  visibility: visible;

  transition:
    opacity 1s,
    visibility 1s;
}

#loading_screen.hide {
  opacity: 0;
  visibility: hidden;
}

#ls_logo {
  width: 70%;
  animation: pulse 3s infinite;
}

/* FOR TABLETS */
@media only screen and (min-width: 660px) {
  #ls_logo {
    width: 50%;
    animation: pulse 3s infinite;
  }
}

/* FOR PC */
@media only screen and (min-width: 1000px) {
}
